.idea/
out/
wordnik*.zip
*.ipr
*.iml
swagger*.iml
*.iws
dist/
build/
lib/*.jar
META-INF/
web/
index
lib/*.zip
dk/
index_dict
logs
src/main/java/com/wordnik/env/Version.scala
lib/*.pom
version.properties
