build/
lib/*.jar
target
.idea
.idea_modules
.settings
.project
.classpath
.cache
atlassian-ide-plugin.xml
*.iml
.java-version
sonar-project.properties
test-output/
*.pyc
**/transformed/*.jar
**/transformed/*.test-jar
**/transformed/*.maven-plugin
