
<br>

{% include menu-java.html %}

{% include menu-java-tomcat.html %}

<hr>

<div class="toc"></div>

<hr>

## Summary
{{ include.summaryTitle }}

1. Tell {{ include.framework }} about Swagger.
2. Configure Swagger so that it knows a few things about your API.
3. Annotate your resources so Swagger can serve them via its resource listing.
4. Annotate your models so Swagger can include type information in its its resource listing.
5. Optionally, put API access behind a key, basic auth or OAuth.
