## Secure Swagger
Lets say that you want your API metadata exposed only to authorized callers. In Swagger you can apply authorization at operation method level. Three authorization schemes are [supported by the specification](https://github.com/wordnik/swagger-spec/blob/master/versions/1.2.md#514-authorizations-object): OAuth, Basic Auth and API Key.

*TODO*- 

Details need to be added but [reading this](http://developers-blog.helloreverb.com/enabling-oauth-with-swagger/) should give you a head start.
