<ul class="nav nav-pills nav-pills-small">
  <li class="java-sub-menu java-sub-menu-jersey-1"><a href="{{site.baseurl}}service/java/tomcat-jersey-1.html">Jersey 1.x</a></li>
  <li class="java-sub-menu java-sub-menu-jersey-2"><a href="{{site.baseurl}}service/java/tomcat-jersey-2.html">Jersey 2.x</a></li>
  <li class="java-sub-menu java-sub-menu-resteasy-2"><a href="{{site.baseurl}}service/java/tomcat-resteasy-2.html">RESTEasy</a></li>
</ul>

<!-- <div style="clear: both; margin-top: 20px">&nbsp;</div> -->